.sidebar {
	position: relative;
	height: calc(100vh - 10rem);
	width: 250px;
	padding-top: 5rem;
	padding-left: 5rem;
	overflow: hidden;

	&::after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background:url(../img/sidebar-bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		z-index: -1;
	}

	h2.heading {
		font-size: 2rem;
		font-family: $font-secondary;
	}

	.nav {
      display: flex;
      flex-direction: column;
		&__item {
			margin-bottom: 2rem;
			display: block;
		}

		&__link {
			display: flex;
			align-items: center;
         font-size: 2rem;
         font-weight: 400;
         color: #fff;
         position: relative;
         transition: all .3s;
         opacity: 0.6;
			svg {
				width: 2rem;
            height: 2rem;
            margin-right: 2rem;
            transition: all .3s;
			}

         &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 1px;
            width: 3px;
            height: 100%;
            background: $color-primary;
            transition: all .3s cubic-bezier(.86,.49,.83,.67);
            transform: scaleY(0);
         }

         &.active,
         &:hover{
            opacity: 1;

            &::after{
               transform:scaleY(1)
            }
         }
		}
	}
}
// .sidebar__bg {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: calc(100% - 16px);
// 	height: 100%;
// 	z-index: -1;
// 	filter: blur(30px) brightness(120%);
// }
