.playing-wrapper {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 10rem;
	padding: 2rem 0;
	background: #fff;
	z-index: 9;
	.container {
		@media only screen and (max-width: 1350px) {
			width: 95%;
			max-width: 117rem;
		}
	}

	@media only screen and (max-width: $tab-port) {
		.row {
			position: static !important;
		}
		.container {
			position: static !important;
		}
	}

	.playing__song {
		display: flex;
		align-items: center;
		overflow: hidden;
		&-img {
			min-width: 6rem;
			min-height: 6rem;
			max-width: 6rem;
			max-height: 6rem;
			border-radius: 8px;
			margin-right: 2rem;
			border-radius: 8px;
			overflow: hidden;
			img {
				width: 100%;
			}
		}

		&-info {
			p.p__text,
			h3.song__title {
				white-space: nowrap;
			}

		}

		@media only screen and (max-width:$tab-port){
			&-img{
				max-width: 4rem;
				max-height: 4rem;
				min-width: 4rem;
				min-height: 4rem;
			}
		}
	}

	.playing__control {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 30px;

		@media only screen and (max-width:$tab-port){
			.btn__prev{
				display: none;
			}
		}
	}

	@media only screen and (max-width: $tab-port) {
		.playing-control-col {
			position: static;
			margin-top: 2rem;
		}
		.playing-song-col {
			position: static;
			margin-top: 2rem;
		}
	}

	.playing__progress {
		display: flex;
		align-items: center;
		justify-content: center;
		@media only screen and (max-width: $tab-port) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			justify-content: space-between;
			padding: 1rem 2rem;

			p.p__text{
				// margin-top: 1rem;
			}
		}
		.start__time {
			color: $color-primary;
		}
	}
}

/* ===================================== */
/* custom range */
/* =====================================  */
.progress {
	position: relative;
	width: 100%;
	max-width: 50rem;
	height: 3px;
	overflow: visible;
	margin: 2rem;

	@media only screen and (max-width: $tab-port) {
		max-width: 900px;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
	}
}
#slider {
	-webkit-appearance: none;
	width: 100%;
	height: 3px;
	background: transparent;
	border-radius: 5px;
	outline: 0;
	position: relative;
	z-index: 2;
	cursor: pointer;
}

#slider::-webkit-slider-thumb,
#slider1::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 10px;
	height: 10px;
	background: $color-primary;
	border-radius: 50%;
}
#slider::-moz-range-thumb,
#slider1::-moz-range-thumb {
	-webkit-appearance: none;
	width: 10px;
	height: 10px;
	background: $color-primary;
	border-radius: 50%;
}

#slider::-webkit-slider-thumb {
	box-shadow: 0 0 0 10px rgba($color-primary, 0.1);
}
#slider:hover::-moz-range-thumb,
#slider1:hover::-moz-range-thumb {
	box-shadow: 0 0 0 10px rgba($color-primary, 0.1);
}

#slider:active::-webkit-slider-thumb,
#slider1:active::-webkit-slider-thumb {
	box-shadow: 0 0 0 10px rgba($color-primary, 0.4);
}
#slider:active::-moz-range-thumb,
#slider1:active::-moz-range-thumb {
	box-shadow: 0 0 0 10px rgba($color-primary, 0.4);
}

.progress .bar {
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background: rgba($color-primary, 0.1);
	left: 0;
	z-index: 1;
	//  overflow: hidden;
}

.progress .bar .fill {
	position: absolute;
	top: 0;
	left: 0;
	background: $color-primary;
	width: 0;
	height: 100%;
}
