.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: calc(100vh - 10rem);
	width: 250px;
	padding-top: 5rem;
	padding-left: 5rem;
	overflow: hidden;
	z-index: 9;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../img/sidebar-bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		z-index: -1;
	}

	@media only screen and (max-width: 1500px) {
		width: 180px;
		padding-left: 2rem;
	}
	@media only screen and (max-width: 1350px) {
		padding-left: 0;
		width: 100%;
		height: 9rem;
		background: #fff;
		padding-top: 0;

		&::after {
			display: none;
		}
	}

	h2.heading {
		font-size: 2rem;
		font-family: $font-secondary;
		@media only screen and (max-width: 1350px) {
			display: none;
		}
	}

	.nav {
		display: flex;
		flex-direction: column;
		&__item {
			margin-bottom: 2rem;
			// display: block;
		}

		&__link {
			display: flex;
			align-items: center;
			font-size: 2rem;
			font-weight: 400;
			color: #fff;
			position: relative;
			transition: all 0.3s;
			opacity: 0.6;
			svg {
				width: 2rem;
				height: 2rem;
				margin-right: 2rem;
				transition: all 0.3s;
				fill: #fff;
			}

			&::after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 3px;
				height: 100%;
				background: $color-primary;
				transition: all 0.3s cubic-bezier(0.86, 0.49, 0.83, 0.67);
				transform: scaleY(0);
			}

			&.active,
			&:hover {
				opacity: 1;

				&::after {
					transform: scaleY(1);
				}
			}
		}

		@media only screen and (max-width: 1350px) {
			flex-direction: row;
			align-items: center;
			padding: 0 1.5rem;
			justify-content: space-between;
			height: 100%;
			&__item {
				margin-bottom: 0;
			}

			&__link {
				color: #000;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				svg {
					fill: #000;
					margin-right: 0;
				}
				&::after {
					display: none;
				}

				&.active,
				&:hover {
					opacity: 1;
					color: $color-primary;

					svg {
						fill: $color-primary;
					}
				}
			}
		}

		@media only screen and (max-width: $mbl-land) {
			&__link {
				transform: scale(0.8);
			}
		}

		
	}
}
// .sidebar__bg {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: calc(100% - 16px);
// 	height: 100%;
// 	z-index: -1;
// 	filter: blur(30px) brightness(120%);
// }
